<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission-sdk-23 android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon_two"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_icon_two_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Greetr"
        tools:targetApi="31" >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".OverLayer"
            android:exported="false"
            android:theme="@style/OverLayerTheme" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4804289087354371~7783587569" />

        <activity
            android:name=".CardViewer"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".AppSettings"
            android:exported="false" />
        <activity
            android:name=".HiddenCards"
            android:exported="false" />
        <activity
            android:name=".AddedFontsActivity"
            android:exported="false" />
        <activity
            android:name=".FavouriteCards"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CreatorActivity"
            android:configChanges="orientation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- To make app available in the share sheet for gtr file -->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:priority="100" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/cty" />
                <data android:mimeType="application/ced" />
            </intent-filter>

            <!-- To open cty file with mime type -->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:priority="100" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.cty" />
                <data android:pathPattern=".*\\..*\\.cty" />
                <data android:pathPattern=".*\\..*\\..*\\.cty" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.cty" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cty" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.cty" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.cty" />
            </intent-filter>

            <!-- To open gtr file with no specified mime type -->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:priority="100" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.cty" />
                <data android:pathPattern=".*\\..*\\.cty" />
                <data android:pathPattern=".*\\..*\\..*\\.cty" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.cty" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cty" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.cty" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.cty" />
            </intent-filter>

            <!-- To open element files with mime type -->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:priority="100" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.ced" />
                <data android:pathPattern=".*\\..*\\.ced" />
                <data android:pathPattern=".*\\..*\\..*\\.ced" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ced" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ced" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ced" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ced" />
            </intent-filter>

            <!-- To open element files with no specified mime type -->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:priority="100" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.ced" />
                <data android:pathPattern=".*\\..*\\.ced" />
                <data android:pathPattern=".*\\..*\\..*\\.ced" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ced" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ced" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ced" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ced" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>